.text-buttons-double-right-card {
    display: grid;
    grid-template-columns: minmax(30%, 450px) 1fr;
    column-gap: 75px;
}

.text-buttons-double-right-card h2,
.text-buttons-double-right-card h1,
.text-buttons-double-right-card h3,
.text-buttons-double-right-card p {
    margin: 0;
}

.text-buttons-double-right-card__left {
    display: flex;
    gap: 80px;
    flex-direction: column;
    position: relative;
}

.text-buttons-double-right-card__left-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.text-buttons-double-right-card__button-block {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    max-width: 355px;
    width: 100%;
}

.text-buttons-double-right-card__right-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.double-right-card {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 5% 30px;
    border-radius: 12px;
    border: 1px solid #EEF0F6;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.05);
}

.double-right-card__title {
    z-index: 1;
    color: #E9EAEB;
}

.double-right-card__thumb {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
}

.double-cart__mobile-button-block {
    display: none;
}

.button-block__button {
    position: absolute;
    left: 100%;
    bottom: 100%;
  transform: translate(40%,50%);
  z-index: 2;
}

.button-block__button svg{
  display: block;
}

.double-right-card__thumb.mobile{
    display: none;
}

@media screen and (max-width: 1024px) {
    .text-buttons-double-right-card {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 750px) {
    .text-buttons-double-right-card__left-text{
        max-width: calc(100% - 90px);
    }
    
    .text-buttons-double-right-card {
        display: flex;
        flex-direction: column;
    }

    .text-buttons-double-right-card__video {
        opacity: 0.85;
        margin-bottom: -130px;
        z-index: -1;
        width: 452px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .button-block__button{
        transform: none;
        left: unset;
        right: 0;
        bottom: unset;
        top: 0;
    }

    .text-buttons-double-right-card__left {
        gap: 75px;
        margin-bottom: 40px;
    }

    .double-right-card {
        padding: 8px 6px;
        aspect-ratio: 170/292;
        overflow: hidden;
        justify-content: flex-end;
    }

    .text-buttons-double-right-card__right-cards-container {
        max-width: 420px;
        margin: 0 auto;
    }

    .text-buttons-double-right-card__button-block {
        display: none;
    }

    .double-cart__mobile-button-block {
        display: flex;
        max-width: 420px;
        margin: 0 auto;
        justify-content: space-between;
        gap: 10px;
        margin-top: 40px;
    }

    .double-right-card__thumb.mobile{
        display: block;
    }

    .double-right-card__thumb.desktop{
        display: none;
    }
}
