.slider-dotted__heading {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    margin-bottom: 50px;
}

.swiper-slide.dotted-slide {
    margin-top: 50px;
    display: grid;
    grid-template-columns:40.73% 1fr;
    gap: 20px;
}

.dotted-slide__left {
    padding-left: 60px;
    padding-bottom: 30px;
}

.dotted-slide__text-container {
    border-radius: 12px;
    border: 1px solid #EEF0F6;
    background: #FFF;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
}

.dotted-slide__right-image {
    width: 100%;
    height: auto;
}

.dotted-slide__pagination {
    position: relative;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0px;
    color: #14D21C;
    font-size: 24px;
}

.dotted-slide__pagination span {
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 990px) {
    .swiper-slide.dotted-slide {
        grid-template-columns:1fr 1fr;
    }

    .dotted-slide__pagination svg {
        width: 65px;
        height: auto;
    }

    .dotted-slide__left {
        padding-left: 45px;
    }

    .dotted-slide__text-container {
        padding: 20px 30px;
    }
}

@media screen and (max-width: 751px) {
    .swiper.dotted-slider{
      overflow: visible;
    }
  
    .swiper-slide.dotted-slide {
        display: flex;
        flex-direction: column;
      margin-top: 90px;
    }

    .dotted-slide__pagination {
        left: unset;
        right: 0;
        top: -42px;
    }

    .dotted-slide__pagination svg {
        width: 85px;
        height: auto;
    }


    .dotted-slide__left {
        padding-left: 0px;
    }

    .dotted-slide__text-container {
        padding: 30px 40px;
    }
}
