div:has(.offset-center){
    overflow: hidden;
}

.offset-center__heading {
    width: calc(100% - 240px);
}

.swiper-slide.offset-slide {
    width: 610px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.offset-slide__left {
    padding-left: 60px;
    padding-bottom: 30px;
}



.offset-slide__text-container {
    border-radius: 12px;
    border: 1px solid #EEF0F6;
    background: #FFF;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.05);
    padding: 30px 40px;
    position: relative;
}

.offset-slide__text-container p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
} 

.offset-slide__mark{
    position: absolute;
    bottom: -12px;
    right: 12px;
}

.offset-slide__right-image {
    width: 100%;
    height: auto;
}


.offset-slider__buttons-container{
    display: flex;
    justify-content: flex-end;
    margin-top: -35px;
    margin-bottom: 80px;
    gap: 10px;
}

.offset-slide__text-container{
    padding: 20px;
    height: 100px;
}

.offset-slide__text{
    display:inline-block;
    overflow:hidden;
    text-overflow: ellipsis;
}

.offset-slide__image-container,
.offset-slide__text-container{
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.05);
}

.offset-slide__image-container{
    height: 250px;
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
}

.image-container__image{
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-container__title,
.image-container__subtitle{
    z-index: 2;
    position: relative;
}

.offset-slide__text-container{
    background: #F6F7F9;
}

.offset-slider__button{
    padding: 5px 30px;
    background: rgba(2, 10, 26, 0.10);
    background: transparent;
    border-color: transparent;
}

.offset-slider__button:hover{
    background: #F6F7F9;
    border-color: transparent;
    box-shadow: none;
}

.offset-slider__button:active{
    border: 1px solid #17BBD1;
    background: #D8F3F7;
    color: #17BBD1;
}

@media screen and (max-width: 990px) {
    .swiper-slide.offset-slide {
        grid-template-columns:1fr 1fr;
    }

    .offset-slide__left {
        padding-left: 45px;
    }

    .offset-slide__text-container {
        padding: 20px 30px;
    }

    .swiper-slide.offset-slide{
        width: calc(100vw - 40px);
    }
    
    
    .offset-slide__image-container{
        height: 280px;
    }
    
    .image-container__image{
        padding-top: 55px;    
    }
    
    .offset-slide__text-container{
        padding: 20px;
    }
}

@media screen and (max-width: 751px) {
    .offset-center{
        display: grid;
        grid-template-columns: 100%;
        max-width: 100%;
    }

    .offset-center__heading{
        width: 100%;
    }
    
    .swiper.offset-slider{
      overflow: visible;
        max-width: 100%;
    }
  
    .swiper-slide.offset-slide {
        display: flex;
        flex-direction: column;
      margin-top: 90px;
    }
    
    

    .offset-slide__left {
        padding-left: 0px;
    }

    .offset-slider__buttons .swiper-button-prev, 
    .offset-slider__buttons .swiper-button-next{
        margin-top: 0;
        width: 100% !important;
    }
    
    .offset-slider__buttons-container{
        grid-row: 3/4;
        margin-bottom: 0;
        margin-top: 40px;
    }
    
    .swiper-slide.offset-slide{
        margin-top: 40px;
    }
    .offset-slider__buttons{
        width: 100%;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .swiper-button-next svg, .swiper-button-prev svg{
        width: unset !important;
    }

}
