.swiper.dotted-slider .dotted-slider__pagination{
  width: 100%;
  height: 20px;
  display: flex;
  top: 0;
  justify-content: space-between;
  align-content: center;
  position: static;
}

.dotted-slider__pagination .swiper-pagination-bullet {
  position: relative;
  top:50%;
  width: 100%;
  height: 5px;
  background: #F6F7F9;
  opacity: 1 !important;
  display: flex;
}

.dotted-slider__pagination .swiper-pagination-bullet:last-child{
  width: 20px;
}

.dotted-slider__pagination .swiper-pagination-bullet::after {
  content: '';
  width: 0%;
  height: 100%;
  z-index: 1;
  background: #17BBD1;
}

.dotted-slider__pagination .swiper-pagination-bullet:before{
  content: "";
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: #D8F3F7;
  border: 2.5px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  top: -7px;
  left: -3px;
}

.dotted-slider__pagination .swiper-pagination-bullet:last-child::after{
  display: none;
}

.dotted-slider__pagination .swiper-pagination-bullet-active::after {
    width: var(--fillPercentage);
}

.dotted-slider__pagination .swiper-pagination-bullet-post-active::after {
    width: 100%;
}

.dotted-slider__pagination .swiper-pagination-bullet-filled::after {
  width: 100%;
}

.swiper-pagination-bullet.swiper-pagination-bullet-post-active:before,
.swiper-pagination-bullet.swiper-pagination-bullet-active:before{
  background: #17BBD1;
}

@media screen and (max-width: 751px) {
  
}
